<div class="page-title" ng-controller="ActivosCtrl as activoCtrl">
    <center><h2> .: Activo Fijo :. </h2></center>
    <div class="content-box bhoechie-tab-container">
        <div class="content-box-wrapper">
            <div class="panel-body">
                <div class="row">
                    <form  method="POST"  name="formCreateActivo" novalidate>
                        <div class="row">
                            <div class="col-lg-5 col-sm-4">
                                <div class="form-group">
                                    <label for="nombre" class="control-label">Nombre</label><label class="text-danger">*</label>
                                    <input type="text" mask="l" repeat="50" restrict="reject" id="nombre" class="form-control text-uppercase"  name="nombre" onblur="this.value = this.value.toUpperCase();"
                                            ng-model="activoCtrl.activoFijoObject.nombre" validation="required" 
                                            ng-disabled="activoCtrl.activoFijoAuxiliar.disableEdit">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Descripción </label><label class="text-danger">*</label>
                                    <input type="text" mask="l" repeat="50" restrict="reject" id="descripcion" class="form-control text-uppercase"  name="descripcion" onblur="this.value = this.value.toUpperCase();"
                                            ng-model="activoCtrl.activoFijoObject.descripcion" validation="required" 
                                            ng-disabled="activoCtrl.activoFijoAuxiliar.disableEdit">
                                </div>
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col-lg-5 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Tipo</label><label class="text-danger">*</label> 
                                    <select ng-options="item.id as item.nombreTipo for item in activoCtrl.tipos"
                                        class="form-control" ng-model="activoCtrl.activoFijoObject.tipo" name="tipo"
                                        ng-disabled="activoCtrl.activoFijoAuxiliar.disableEdit" id="tipo" validation="required">
                                     <option value="0">- Seleccione -</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Serial</label>
                                    <input type="text" maxlength="50"   class="form-control text-uppercase"  
                                           name="serial" id="serial" ng-model="activoCtrl.activoFijoObject.serial">
                                </div>
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col-lg-5 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Numero Interno Inventario</label>
                                    <input type="text" mask="999"  restrict="reject" class="form-control text-uppercase" id="numeroInternoInventario"
                                           ng-model="activoCtrl.activoFijoObject.numeroInternoInventario" 
                                           ng-disabled="activoCtrl.activoFijoAuxiliar.disableEdit"
                                           name="numeroInternoInventario">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-4">
                                    <div class="form-group">
                                    <label class="control-label">Peso</label>
                                    <input type="number" restrict="reject" class="form-control text-uppercase" id="peso" 
                                           ng-model="activoCtrl.activoFijoObject.peso" 
                                           ng-disabled="activoCtrl.activoFijoAuxiliar.disableEdit"
                                           name="peso">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Alto</label>
                                    <input type="number" restrict="reject" class="form-control text-uppercase" id="alto" 
                                           ng-model="activoCtrl.activoFijoObject.alto" 
                                           ng-disabled="activoCtrl.activoFijoAuxiliar.disableEdit"
                                           name="alto">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Largo</label>
                                    <input type="number" restrict="reject" class="form-control text-uppercase" id="largo" 
                                           ng-model="activoCtrl.activoFijoObject.largo" 
                                           ng-disabled="activoCtrl.activoFijoAuxiliar.disableEdit"
                                           name="largo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Ancho</label>
                                    <input type="number" restrict="reject" class="form-control text-uppercase" id="ancho" 
                                           ng-model="activoCtrl.activoFijoObject.ancho" 
                                           ng-disabled="activoCtrl.activoFijoAuxiliar.disableEdit"
                                           name="ancho">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Valor Compra</label>
                                    <input type="text" mask="999" maxlength="10"  restrict="reject" class="form-control text-uppercase" id="valorCompra"
                                           ng-model="activoCtrl.activoFijoObject.valorCompra" 
                                           ng-disabled="activoCtrl.activoFijoAuxiliar.disableEdit"
                                           name="valorCompra">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Fecha Compra</label>
                                    <input type="date" placeholder="yyyy-MM-dd"  required 
                                           class="form-control text-uppercase" id="fechaCompra" 
                                           ng-model="activoCtrl.activoFijoObject.fechaCompra" 
                                           ng-disabled="activoCtrl.activoFijoAuxiliar.disableEdit"
                                           name="fechaCompra">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Fecha de Baja</label>
                                    <input type="date" placeholder="yyyy-MM-dd" id="fechaBaja"
                                           class="form-control text-uppercase"
                                           ng-model="activoCtrl.activoFijoObject.fechaBaja"
                                           name="fechaBaja">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Estado</label>
                                    <select ng-options="item.id as item.nombreEstado for item in activoCtrl.estadosCreate"
                                        class="form-control" ng-model="activoCtrl.activoFijoObject.estado" name="estado"
                                        ng-disabled="activoCtrl.activoFijoAuxiliar.disableEdit" id="estado" validation="required">
                                     <option value="0">- Seleccione -</option>
                                    </select>
                                </div>
                            </div>                            
                        </div>
                        <div class="button-pane">
                            <input type="submit" class="btn btn-success" value="Guardar" ng-click="activoCtrl.onSubmitForm()">                    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>