<div class="row" ng-controller="ActivosCtrl as mainCtrl">
    <center><h2>Listado de Activos Fijos</h2></center>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
        <div class="col-sm-2">
            <label class="control-label">Estado</label>
            <select ng-options="item.id as item.nombreEstado for item in mainCtrl.estados"
                class="form-control" ng-model="mainCtrl.activoFijoFilter.estado" name="estado"
                id="estado" ng-change="mainCtrl.onCambiarSelectEstado()">
             <option value="0">- Seleccione -</option>
            </select>

            <label class="control-label">Tipo</label>
            <select ng-options="item.id as item.nombreTipo for item in mainCtrl.tipos"
                class="form-control" ng-model="mainCtrl.activoFijoFilter.tipo" name="tipo"
                id="tipo" ng-change="mainCtrl.onCambiarSelectTipo()">
             <option value="0">- Seleccione -</option>
            </select>

            <label class="control-label">Serial</label>
            <input type="text" maxlength="50" class="form-control text-uppercase"  
                   name="serial" id="serial" ng-model="mainCtrl.activoFijoFilter.serial"
                   ng-change="mainCtrl.onCambiarSerial()">

            <label class="control-label">Fecha Compra</label>
            <input type="date" placeholder="dd/MM/yyyy" class="form-control text-uppercase"
                   name="fechaCompra" id="fechaCompra" ng-model="mainCtrl.activoFijoFilter.fechaCompra"
                   ng-change="mainCtrl.onCambiarFechaCompra()">
        </div>
      
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="text-center" ng-repeat="item in mainCtrl.cabeceras">{{item}}</th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                    <tr ng-repeat="item in mainCtrl.listActivosFijos">
                        <td class="text-left">{{$index+1}}</td>
                        <td class="text-left">{{item.nombre}}</td>
                        <td class="text-left">{{item.tipo}}</td>
                        <td class="text-left">{{item.serial}}</td>
                        <td class="text-left">{{item.valorCompra}}</td>
                        <td class="text-left">{{item.fechaCompraString}}</td>
                        <td class="text-left">{{item.fechaBajaString}}</td>
                        <td class="text-left">{{item.estado}}</td>
                        <td class="text-center">
                            <a class="buttonEditar" title="Editar" ng-click="mainCtrl.onClickToEditar(item)">
                                <i class="glyphicon glyphicon-edit"></i>Editar
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr ng-show="$owner.mainCtrl.listActivosFijos.length === 0">
                        <td colspan="6">No hay datos</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>